@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


$font: 'Raleway';

*{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  font-family: $font, sans-serif;
  padding: 0px 101px 20px 101px;
}
@media (width<600px) {
  body{
    padding: 0;
    padding-left: 20px;
  }
}
