@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
$Roboto_Condensed:'Roboto Condensed';
$dark:#1d1f22;
.name{
    width: 292px;
    font-size: 30px;
    line-height: 27px;
    margin: 0px 0px 43px 0px;
    &__brand{
    margin: 0px 0px 16px 0px;
    font-weight: 600;

    }
  }
  .characteristic{
    font-size: 18px;
    font-family:  $Roboto_Condensed;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 8px;
    color:$dark;
    &__sizes{
      display: flex;
      gap: 12px;
      margin-bottom:24px;
      .size{
        width: 63px;
        height: 45px;
        border: $dark solid 1px;
       
        &__tag{
            font-family: Source Sans Pro;
            line-height: 18px;
            padding-top: 13px;
            text-align: center;
          }
      }
      .selected__size{
        background:$dark;
        .size__tag{
          color: #FFFFFF
        }
      }
    }
    &__colors{
      display: flex;
      gap: 8px;
      margin: 0px 0px 36px 0px;
      align-items: center;
      .color{
        width: 34px;
        height: 34px;
        background-color: #d3d2d5;
       
      }
      .selected__color{
        display: flex;
        align-items: center;
        justify-content: center;
         width: 36px;
         height: 35px;
         border: #5ece7b solid 1px;
        
      }
    }
}
  .price{
      width: 86px;
      height: 46px;
      display: flex;
      font-size: 24px;
      font-weight: 600;
      line-height: 18px;
      color: $dark;
      flex-direction: column;
      justify-content: center;
      margin-bottom:20px;
    
  }