.header {
  padding: 0px 101px 20px 101px;
  max-width: 1440px;
  position: relative;
  width: auto;
  margin: 0 auto;
  .header__items {
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    .navigation {
      width: 250px;
      display: flex;

      .category {
        cursor: pointer;
        text-decoration: none;
        padding: 4px 16px 32px 16px;
        &:hover {
          opacity: 70%;
        }
        &__name {
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          color: #1d1f22;
        }
      }
      .category-selected {
        border-bottom: 2px solid #5ece7b;
        .category__name {
          font-weight: 600;
          color: #5ece7b;
        }
        &:hover {
          opacity: 100%;
        }
      }
    }
  }
  .logo {
    position: absolute;
    left: 50%;
  }

  .action {
    display: flex;
    gap: 22px;
    padding-bottom: 25px;
    justify-content: flex-end;
    align-items: center;
    &__purchases {
      width: 20px;
      height: 20px;
    }
  }
}
@media (width<600px) {
  .header {
    display: flex;
    justify-content: center;
    .logo {
      display: none;
    }
    .header__items {
      justify-content: flex-start;
    }
  }
}
@media (width<1000px) {
  .header {
    .logo {
      position: static;
    }
  }
}
